<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <div class="btn-toolbar">
              <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
              <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control"
              formControlName="name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imgPath">Image URL</label>
            <input type="text" name="imgPath" id="imgPath" class="form-control"
              formControlName="imagePath" #imgUrl>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <img [src]="imgUrl.value" alt="preview of recipe image" style="height: 200px;"
            class="img-responsive">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" name="description" id="description" class="form-control"
              rows="6" formControlName="description"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row" *ngFor="let ingredientCtrl of ingredientControls().controls; let i = index"
            [formGroupName]="i">
            <div class="col-xs-8">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="name">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <input type="number" class="form-control" formControlName="amount">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <button type="button" class="btn btn-danger" aria-label="remove ingredient"
                  (click)="onRemoveIngredient(i)">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add
            Ingredient</button>
        </div>
      </div>

    </form>
  </div>
</div>
