<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" class="form-control"
            #nameInput>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" name="amount" id="amount" class="form-control"
            #amountInput>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-7">
          <div class="btn-group btn-group-justified" role="group" aria-label="edit action">
            <div class="btn-group" role="group">
              <button class="btn btn-success" type="submit" (click)="addBtnClick()">Add</button>
            </div>
            <div class="btn-group" role="group">
              <button class="btn btn-danger" type="button">Delete</button>
            </div>
            <div class="btn-group" role="group">
              <button class="btn btn-primary" type="button">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
